:root {
    --c:350;
    --c-01-100:hsla(var(--c), 85%, 42%, 1);    
    --c-02-100:hsla(var(--c), 73%, 50%, 1);
    --c-02-070:hsla(var(--c), 73%, 50%, .7);
    --c-01-050:hsla(var(--c), 73%, 50%, .5);
    --c-01-040:hsla(var(--c), 73%, 50%, .4);
    --c-01-020:hsla(var(--c), 73%, 50%, .2);
    --c-01-010:hsla(var(--c), 73%, 50%, .1);
    --c-01-008:hsla(var(--c), 73%, 50%, .08);
    --c-01-000:hsla(var(--c), 73%, 50%, 0);


    --c-dark-10t-010:hsla(var(--c), 5%, 10%, .1);
    --c-dark-10t-100:hsla(var(--c), 5%, 10%, 1);
    --c-dark-15t-100:hsla(var(--c), 5%, 15%, 1);
    --c-dark-20t-100:hsla(var(--c), 5%, 20%, 1);
    --c-dark-25t-100:hsla(var(--c), 5%, 25%, 1); /*區域背景淡色*/
    --c-dark-30t-100:hsla(var(--c), 5%, 30%, 1);
    --c-dark-35t-100:hsla(var(--c), 5%, 35%, 1);
    --c-dark-40t-100:hsla(var(--c), 5%, 40%, 1);
    --c-dark-45t-100:hsla(var(--c), 5%, 45%, 1);
    --c-dark-50t-100:hsla(var(--c), 5%, 50%, 1);
    --c-dark-60t-100:hsla(var(--c), 5%, 60%, 1);
    --c-dark-70t-100:hsla(var(--c), 5%, 70%, 1);
    --c-dark-80t-100:hsla(var(--c), 5%, 80%, 1);
    --c-dark-90t-100:hsla(var(--c), 5%, 90%, 1);
    --c-dark-95t-100:hsla(var(--c), 5%, 95%, 1);

    --b:217;
    --b-01-100:hsla(var(--b), 100%, 52%, 1); 
    --b-02-100:hsla(var(--b), 100%, 88%, 1); 

    --p:261;
    --p-01-100:hsla(var(--p), 85%, 63%, 1); 

    --white-100:hsla(0, 0%, 100%, 1);
    --white-007:hsla(0, 0%, 100%, .7);
    --white-004:hsla(0, 0%, 100%, .4);
    --white-015:hsla(0, 0%, 100%, .15);
    --white-000:hsla(0, 0%, 100%, 0);
    --black-100:hsla(0, 0%, 0%, 1);
    --black-080:hsla(0, 0%, 0%, .8);
    --black-070:hsla(0, 0%, 0%, .7);
    --black-040:hsla(0, 0%, 0%, .4);
    --black-000:hsla(0, 0%, 0%, 0);


  
    --gray-disable:var(--c-dark-70t-100);
    --gray-01:var(--c-dark-95t-100); /*區域背景淡色*/
    --gray-02:var(--c-dark-80t-100); /* light line / input select 外框 底線*/
    --gray-03:var(--c-dark-60t-100);
    --gray-04:var(--c-dark-20t-100);
    --error:var(--c-02-100); /*錯誤文字*/
    /*FONT*/
    --font-color-title:var(--c-dark-10t-100); /*給默認的標題*/
    --font-color-content:var(--c-dark-30t-100); /*給默認的文字*/
    --font-color-smalltip:var(--c-dark-25t-100); /*給tip的文字*/

    /*shadow*/
    --shadow-01: 0px 1px 5px 0px rgb(215, 215, 215);
    --shadow-02: 1px 1px 5px 0px rgb(215, 215, 215);
    --shadow-03: -1px 1px 5px 0px rgb(215, 215, 215);
    
    
  }