//policy-shard
.policy-shard{
    .-cr{
        color: var(--c-01-100);
    }
    .-cb{
        color: var(--font-color-title);
    }
    .pt{
        &-10{
            padding-top: 1.0rem;
        }
        &-15{
            padding-top: 1.5rem;
        }
        &-20{
            padding-top: 2.0rem;
        }
        &-25{
            padding-top: 2.5rem;
        }
        &-30{
            padding-top: 3.0rem;
        }
        &-35{
            padding-top: 3.5rem;
        }
        &-40{
            padding-top: 4.0rem;
        }
    }
    .pd{
        &-10{
            padding-bottom: 1.0rem;
        }
        &-15{
            padding-bottom: 1.5rem;
        }
        &-20{
            padding-bottom: 2.0rem;
        }
        &-25{
            padding-bottom: 2.5rem;
        }
        &-30{
            padding-bottom: 3.0rem;
        }
        &-35{
            padding-bottom: 3.5rem;
        }
        &-40{
            padding-bottom: 4.0rem;
        }
    }
    .item{
        display: grid;
        grid-template-columns: 16px 1fr;
        gap: 8px;
    }
    .block{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 3rem;
        padding:1rem;
        background: var(--gray-01);
        .box{
            display: flex;
            align-items: center;
            gap: .5rem;
        }

    }
    
}