.y2015-0519 .table.style-1 .table-header .tr,
.y2015-0519 .table.style-1 .table-body .tr {
  grid-template-columns: 280px minmax(320px, 480px);
}
.y2015-0519 .table.style-1 .table-body .tr .th.-rl3 {
  grid-template-columns: 100px 180px;
}
.y2015-0519 .table.style-1.-specs .table-header .tr,
.y2015-0519 .table.style-1.-specs .table-body .tr {
  grid-template-columns: 400px minmax(380px, 480px);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3,
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl4 {
  grid-template-columns: 100px 1fr;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 100px 140px 160px;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  padding: 0.75rem;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box p {
  padding-left: 0;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/5;
  border-right: 1px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box:nth-of-type(2) {
  grid-column: 2/4;
  grid-row: 1/2;
  border-right: 1px solid var(--gray-02);
  border-bottom: 1px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box:nth-of-type(3) {
  grid-column: 2/4;
  grid-row: 2/3;
  border-right: 1px solid var(--gray-02);
  border-bottom: 1px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3/5;
  border-right: 1px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box:nth-of-type(5) {
  grid-column: 3/4;
  grid-row: 3/4;
  border-bottom: 1px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r4 .box:nth-of-type(6) {
  grid-column: 3/4;
  grid-row: 4/5;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .td.-r4 {
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .td.-r4 .box {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .td.-r4 .box:last-of-type {
  border-bottom: 0px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 {
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 100px 140px 160px;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box {
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--gray-02);
  border-right: 1px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box p {
  padding: 0;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/6;
  border-bottom: 0px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(2) {
  grid-column: 2/4;
  grid-row: 1/2;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(3) {
  grid-column: 2/4;
  grid-row: 2/3;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(5) {
  grid-column: 2/3;
  grid-row: 4/6;
  border-bottom: 0px solid var(--gray-02);
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(6) {
  grid-column: 3/4;
  grid-row: 3/4;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(7) {
  grid-column: 3/4;
  grid-row: 4/5;
}
.y2015-0519 .table.style-1.-specs .table-body .tr .th.-rl3.-c3r5 .box:nth-of-type(8) {
  grid-column: 3/4;
  grid-row: 5/6;
  border-bottom: 0px solid var(--gray-02);
}/*# sourceMappingURL=2015-0519.css.map */