@import '../../for-component/for-component.scss';

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--white-100);
    //border-bottom: 1px solid var(--gray-2nd);
    // box-shadow: var(--shadow-2nd);
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 2rem;
    justify-content: space-between;
    box-shadow: var(--shadow-01);

    .left-side {
        display: flex;
        gap: 1rem;
        align-items: center;
        height: 100%;

        .logo-container {
            width: auto;
            height: 40px;

            .svg-box,
            svg {
                width: auto;
                height: 100%;
            }
        }

        .nav-menu-zone {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: fit-content;
            gap: 3rem;
            padding-left: 1.5rem;
            height: 100%;

            .nav-menu-container {
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                @include linear-050s;

                .nav-menu-title {
                    cursor: pointer;
                    width: fit-content;
                    position: relative;
                    display: flex;
                    align-items: baseline;
                    gap: .75rem;
                    height: 100%;

                    .title {
                        font-size: 1.05rem;
                        font-weight: 600;
                        line-height: 1.5rem;
                        align-self: center;
                    }

                    .-triangle-1 {
                        align-self: center;
                    }
                }

                .nav-menu-dropdown-list {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    width: fit-content;
                    height: 0;
                    display: none;
                    flex-direction: column;
                    background: var(--white-100);
                    box-shadow:
                        var(--shadow-02);
                    // box-shadow: 
                    //     3px 3px 3px 0px rgb(215, 215, 215),
                    //     inset 0px 3px 3px 0px rgb(215, 215, 215);


                    @include ease-030s;

                    .nav-menu-dropdown-option {
                        width: fit-content;
                        display: flex;

                        a.text {
                            padding: .5rem 1rem;
                            display: inline-block;
                            font-size: 1.05rem;
                            width: fit-content;
                            white-space: nowrap;
                            @include ease-050s;

                            &:hover {
                                color: var(--c-01-100);
                            }
                        }

                        &:first-of-type {
                            a.text {
                                padding-top: 1rem;
                            }
                        }

                        &:last-of-type {
                            a.text {
                                padding-bottom: 1rem;
                            }
                        }
                    }
                }

                &:hover {
                    .nav-menu-dropdown-list {
                        height: fit-content;
                        display: flex;
                    }
                }
            }
        }

        .title-box {
            display: flex;
            align-items: center;
            padding-left: 1.5rem;
            border-left: 1px solid var(--gray-2nd);

            .title {
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--white-100);
                margin-left: .5rem;
            }
        }
    }

    .nav-menu-bt {
        display: none;

        .icon-control {
            font-size: 1.25rem;
            cursor: pointer;
            padding: .75rem;
        }

        &:hover {
            .icon-control {
                color: var(--c-01-100);
            }
        }
        .close{
            display: none;
        }
        .menu{
            display: flex;
        }
        &.active{
            .close{
            display: flex;
        }
        .menu{
            display: none;
        }
        }
    }

}


@media screen and (max-width:991px) {
    .nav-top .nav-menu-bt {
        display: flex;
    }
    .nav-top .left-side .nav-menu-zone{
        position: fixed;
        top: 60px;
        right: 0;
        height: calc(100vh - 60px);
        display: none;
        flex-direction: column;
        gap: 0;
        box-shadow: var(--shadow-03);
        padding-left: 0;
        width: 340px;
        padding-top: 1rem;
        &.active{
            display: flex;
        }
    }
    .nav-top .left-side .nav-menu-zone .nav-menu-container{
        width: 100%;
        height: fit-content;
        padding: .75rem 0 .75rem 1.5rem;
        &:hover{
            .nav-menu-dropdown-list{
                display: none;
            }
        }
        &.active{
            .nav-menu-dropdown-list{
                display: flex;
            }
        }
    }
    .nav-top .left-side .nav-menu-zone .nav-menu-container .nav-menu-title{
        height: fit-content;
    }
    .nav-top .left-side .nav-menu-zone .nav-menu-container .nav-menu-title .title {
        align-self: flex-start;
    }
    .nav-top .left-side .nav-menu-zone .nav-menu-container .nav-menu-dropdown-list{
        position: relative;
        top: auto;
        height: fit-content;
        width: 100%;
        box-shadow: none;
        
    }
}