.Silver-Oxide {

    .table.style-1 .table-header .tr,
    .table.style-1 .table-body .tr {
        grid-template-columns: 130px 115px 280px repeat(5, 130px);
    }

    .table.style-1 .table-body .tr {
        border-bottom: 0;

        &:nth-of-type(13) {
            .th {
                border-bottom: 1px solid var(--gray-02);
            }

        }

        .td {
            border-bottom: 1px solid var(--gray-02);
        }
    }
    .table.style-1 .table-body .tr .td.-p2 p{
        height: 100%;
        &:first-of-type{
            width: 140px;
            border-right: 1px solid var(--gray-02);
        }
    }
    .table.style-1 .th.tp3 p:nth-of-type(2){
        width: 140px;
    }
}