.history {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    .title-box {
        .title {
            color: var(--c-01-100);
        }
    }

    .zone {
        .container {
            width: 100%;
            height: fit-content;
            display: grid;
            grid-template-columns: calc(68px + 1rem) 1fr;
            gap: 24px;
            .year {
                padding: 0 8px;
                width: 100%;
                position: relative;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 68px 1fr;
                align-items: center;
                justify-items: center;
                height: 100%;
                
                .circle {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                    width: 68px;
                    height: 68px;
                    border-radius: 50%;
                    border: 2px solid var(--c-01-100);

                    .text {
                        position: absolute;
                        margin-top: -4px;
                    }
                }
                .line{
                    width: 1px;
                    height: 100%;
                    min-height: 48px;
                    background: var(--c-01-100);
                }


            }
            .list{
                display: flex;
                gap: 1rem;
                padding: 24px 0 24px 12px;
                flex-direction: column;
            }
        }
    }
}