.-triangle-1{
    width: 8px;
    height: fit-content;
    transform: translateY(1px);
    svg{
        width: 100%;
        height: auto;
    }
}
.-triangle-2{
    width: 12px;
    height: fit-content;
    transform: translateY(2px);
    svg{
        width: 100%;
        height: auto;
    }
}