@import '../../for-component/for-component.scss';
.page-header.style-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    &.-flex-end{
        justify-content: flex-end;
    }
    .title-box{
        width: fit-content;
        height: fit-content;
        .title{
            font-size: 1.35rem;
            font-weight: 500;
            color: var(--font-color-title);
        }
    }   
    .tools-list{
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        .amount-box{
            width: fit-content;
            display: grid;
            align-items: center;
            grid-template-columns: calc(1rem * 5 + 4px) auto;
        }
    }
}

//子頁框內標題
.page-header.style-2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
    font-weight: 500;
    border-bottom: 1px solid var(--gray-2nd);
    
    .title-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 1rem;
        row-gap: .5rem;
        &.-baseline{
            align-items: first baseline;
        }
        .title{
            font-size: 1.125rem;
            font-weight: 500;
            color: var(--font-color-title);
        }
        .text{
            font-size: .875rem;
            font-weight: 400;
            color: var(--font-color-title);
        }
    }
}

.sub-header.style-1{
    width: 100%;
    height: auto;
    .title-box{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: .75rem 0 .75rem 1rem;
        
        .title{
            font-size: 1.025rem;
            font-weight: 600;
            color: var(--font-color-title);
        }
    }
}