.button {
  position: relative;
  border-radius: 0rem;
  overflow: hidden;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  border: 0;
  width: -moz-fit-content;
  width: fit-content;
  background: transparent;
  border-radius: 0.38rem;
}

.style-1.filled {
  min-width: 120px;
  height: 40px;
  padding: 0.25rem 2rem;
  background: var(--c-01-100);
  border: 0;
  outline: 2px solid var(--c-01-100);
  outline-offset: -2px;
}
.style-1.filled .icon-control {
  font-size: 1rem;
  color: var(--white-100);
}
.style-1.filled .text {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white-100);
  z-index: 1;
  transition: all 0.25s ease;
}
.style-1.filled:hover {
  background: var(--white-100);
}
.style-1.filled:hover .text {
  color: var(--c-01-100);
}
.style-1.filled.disable {
  background: var(--gray-disable);
  pointer-events: none;
}

.style-1.outlined {
  min-width: 120px;
  height: 40px;
  padding: 0.25rem 0.5rem;
  background: 0;
  border: 0;
}
.style-1.outlined .outline {
  position: absolute;
  width: 100%;
  height: 100%;
  outline-offset: -1px;
  outline: 1px solid var(--c-dark-50t-100);
  transition: all 0.25s ease;
  z-index: 2;
  opacity: 0.4;
  border-radius: 0.35rem;
  border: 2px solid transparent;
}
.style-1.outlined .text {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: var(--font-color-content);
  z-index: 1;
  transition: all 0.25s ease;
  opacity: 0.6;
}
.style-1.outlined .icon-control {
  font-size: 1rem;
  color: var(--font-color-content);
  opacity: 0.6;
  transition: all 0.25s ease;
}
.style-1.outlined:hover .outline {
  outline: 1px solid transparent;
  border: 2px solid var(--c-dark-50t-100);
}
.style-1.outlined:hover .text {
  opacity: 1;
}
.style-1.outlined:hover .icon-control {
  opacity: 1;
}
.style-1.outlined.disable {
  background: var(--gray-disable);
  pointer-events: none;
}
.style-1.outlined.disable .outline {
  outline: 0;
}
.style-1.outlined.disable .text {
  color: var(--white-100);
}

.style-2.filled {
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  padding: 0rem 0.5rem;
  background: var(--c-01-100);
  border: 0;
}
.style-2.filled .outline {
  position: absolute;
  width: 0%;
  height: 0%;
}
.style-2.filled .icon-control {
  font-size: 0.9rem;
  color: var(--white-100);
}
.style-2.filled .text {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: var(--white-100);
  z-index: 1;
  transition: all 0.25s ease;
}
.style-2.filled.disable {
  background: var(--gray-disable);
  pointer-events: none;
}

.style-2.outlined {
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  padding: 0rem 4px;
  background: 0;
  border: 0;
  gap: 4px;
}
.style-2.outlined .outline {
  position: absolute;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--gray-02);
  transition: all 0.25s ease;
  z-index: 2;
  opacity: 0.4;
}
.style-2.outlined .text {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--font-color-content);
  z-index: 1;
  transition: all 0.25s ease;
}
.style-2.outlined .icon-control {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 20px;
  color: var(--c-01-100);
}
.style-2.outlined .svg-box svg {
  width: auto;
  height: 16px;
  fill: var(--white-100);
  transition: all 0.25s ease;
  margin-top: 2px;
}
.style-2.outlined:hover .outline {
  width: 100%;
}
.style-2.outlined.disable {
  background: var(--gray-disable);
  pointer-events: none;
}
.style-2.outlined.disable .outline {
  outline: 0;
}
.style-2.outlined.disable .text {
  color: var(--white-100);
}

.button-zone {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.75rem;
  margin-top: 3rem;
}/*# sourceMappingURL=button.css.map */