@import '../../for-component/for-component.scss';
.button{
    position: relative;
    border-radius: 0rem;
    overflow: hidden;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    @include ease-025s;
    border: 0;
    width: fit-content;
    background: transparent;
    border-radius: .38rem;
}
.style-1.filled{
    min-width: 120px;
    height: 40px;
    padding:.25rem 2rem;
    background: var(--c-01-100);
    border:0;
    outline: 2px solid var(--c-01-100);
    outline-offset: -2px;
    .icon-control{
        font-size: 1rem;
        color:var(--white-100);
    }
    .text{
        display: block;
        font-size: 1rem;
        font-weight: 400;
        color:var(--white-100);
        z-index: 1;
        @include ease-025s;
    }
    
    &:hover{
        background: var(--white-100);
        .text{
            color:var(--c-01-100);
        }
    }
    &.disable{
        background: var(--gray-disable);
        pointer-events: none;
    }
}
.style-1.outlined{
    min-width: 120px;
    height: 40px;
    padding:.25rem .5rem;
    background: 0;
    border: 0;
    .outline{
        position: absolute;
        width: 100%;
        height: 100%;
        outline-offset: -1px;
        outline: 1px solid var(--c-dark-50t-100);
        @include ease-025s;
        z-index: 2;
        opacity: .4;
        border-radius: .35rem;
        border: 2px solid transparent;
    }
    .text{
        display: block;
        font-size: 1rem;
        font-weight: 400;
        color:var(--font-color-content);
        z-index: 1;
        @include ease-025s;
        opacity: .6;
        
    }
    .icon-control{
        font-size: 1rem;
        color:var(--font-color-content);
        opacity: .6;
        @include ease-025s;
    }
    &:hover{
        .outline{
            outline: 1px solid transparent;
            border: 2px solid var(--c-dark-50t-100);
        }
        .text{
            opacity: 1;
        }
        .icon-control{
            opacity: 1;
        }
    }
    &.disable{
        background: var(--gray-disable);
        pointer-events: none;
        .outline{
            outline: 0;
        }
        .text{
            color: var(--white-100);
        }
    }
}

.style-2.filled{
    width: fit-content;
    height: 32px;
    padding: 0rem .5rem;
    background: var(--c-01-100);
    border: 0;
    .outline{
        position: absolute;
        width: 0%;
        height: 0%;
    }
    .icon-control{
        font-size: .9rem;
        color:var(--white-100);
    }
    .text{
        display: block;
        font-size: 20px;
        font-weight: 400;
        color:var(--white-100);
        z-index: 1;
        @include ease-025s;
    }
    
    &.disable{
        background: var(--gray-disable);
        pointer-events: none;
    }
}
.style-2.outlined {
                    width: fit-content;
                    height: 35px;
                    padding: 0rem 4px;
                    background: 0;
                    border: 0;
                    gap: 4px;
                    .outline {
                        position: absolute;
                        width: 0;
                        height: 100%;
                        border-bottom: 1px solid var(--gray-02);
                        @include ease-025s;
                        z-index: 2;
                        opacity: .4;
                    }

                    .text {
                        display: block;
                        font-size: .9rem;
                        font-weight: 400;
                        color: var(--font-color-content);
                        z-index: 1;
                        @include ease-025s;
                    }

                    .icon-control {
                        height: fit-content;
                        font-size: 20px;
                        color: var(--c-01-100);
                    }

                    .svg-box svg {
                        width: auto;
                        height: 16px;
                        fill: var(--white-100);
                        //stroke:var(--font-color-content);
                        @include ease-025s;
                        margin-top: 2px;
                    }

                    &:hover {
                        .outline{
                            width: 100%;
                        } 
                    }

                    &.disable {
                        background: var(--gray-disable);
                        pointer-events: none;

                        .outline {
                            outline: 0;
                        }

                        .text {
                            color: var(--white-100);
                        }
                    }
                }

.button-zone{
    width: 100%;
    height: fit-content;
    padding: 1rem 0 .75rem 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .75rem;
    margin-top: 3rem;
}

